# これはサンプルファイルです
# passwords.xmlに改名し、以下のコマンドを実行して暗号化してください
# ansible-vault encrypt passwords.xml
#
# パラメータ説明
#    password: 必須
passwords:
  foobar3000:
    password: p@ssw0rd

  admin:
    password: p@ssw0rd
