# これはサンプルファイルです
#
# パラメータ説明
#    groups: 任意（ユーザ名のグループは自動で生成される）
#    shell: 必須
#    ssh_enable: 必須（enableの場合は公開鍵が設定される）
users:
  myuser:
    groups: sudo
    shell: /bin/bash
    ssh_enable: true

  admin:
    shell: /bin/bash
    ssh_enable: false
